

{% extends 'template.twig' %}

{% block head %}
    <title>Bonobo food - {{ errorTitle }}</title>
{% endblock %}

{% block link %}
    <li class="breadcrumb-item" aria-current="page">Error</li>
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <h4 class="text-center">{{ errorTitle }}</h4>
        <p class="text-center">{{ errorMessage }} {{ errorType }}</p>
    </div>
{% endblock %}

